doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/x-icon', href='/images/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/registerForm.css')
    title HOME
  body
    #navbar
      img#brandLogo(src='/images/brand_logo.webp', alt='Brand Logo')
      center
        p#brandName WELCOME TO, AUTO-CARS
      span#buttons
        .dropdown
          button.dropbtn.displayButton(onclick='myFunction()') REGISTER
          #myDropdown.dropdown-content
            a(href='/register/buyer') Buyer
            a(href='/register/seller') Seller
        button
          a.displayButton(href='/login') LOGIN
    #homeView
      #registrationForm
        form#formBox(action='/register/buyer', method='post')
          label(for='userType') USER:
          br
          input#userType(type='text', name='userType', value='BUYER', disabled='')
          br
          label(for='username') Name:
          br
          input#username(type='text', name='username')
          if errorInput === "username"
            p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
          endif
          br
          label(for='userAddress') Address:
          br
          input#userAddress(type='text', name='userAddress')
          if errorInput === "userAddress"
            p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
          endif
          br
          label(for='userContact') Contact No.:
          br
          input#userContact(type='text', name='userContact')
          if errorInput === "userContact"
            p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
          endif
          br
          label(for='userEmail') Email:
          br
          input#userEmail(type='text', name='userEmail')
          if errorInput === "userEmail"
            p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
          endif
          br
          label(for='password') Password:
          br
          input#password(type='password', name='password')
          if errorInput === "password"
            p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
          endif
          br
          label(for='cpassword') Confirm Password:
          br
          input#cpassword(type='password', name='cpassword')
          if errorInput === "cpassword"
            p(style={"color":"red","font-weight":"bold","text-decoration":"underline"})   #{message} 
          endif
          br
          input#registerButton(type='submit', value='REGISTER')
    script(src='/javascripts/registerForm.js')